{% extends "base.html" %}
{% block content %}
{% raw %}

<div class="d-grid gap-3 vh-75" style="grid-template-columns: 1fr 2fr;">
    <div class="bg-body-tertiary border rounded-3 p-2">

        <h1>
            Stock in
            <span>( {{items.length}} )</span>
        </h1>

        <div class="btn-group w-100">
            <button class="btn btn-primary w-50" @click="submitItems">Submit</button>
            <button class="btn btn-primary w-50" @click="clear">Clear</button>
            <button class="btn btn-primary w-50" @click="add">Add</button>
        </div>

        <div class="fs-4 ">
            <div class="mt-3">
                <label for="product-id">Product_id:</label>
                <input id="product-id" type="text" v-model="productId" class="form-control">
            </div>

            <div class="mt-3">
                <label for="product-title">Title:</label>
                <textarea id="product-title" v-model="productTitle" class="form-control"></textarea>
            </div>

            <div class="mt-3">
                <label for="product-size">Size:</label>
                <input id="product-size" type="text" v-model="size" class="form-control">
            </div>

            <div class="mt-3">
                <label for="product-colour">Colour:</label>
                <input id="product-colour" type="text" v-model="colour" class="form-control">
            </div>

            <div class="mt-3">
                <label for="product-price">Price:</label>
                <input type="text" v-model="price" class="form-control">
            </div>
            <div class="btn-group w-100 mt-3">
                camera panel
                <button class="btn btn-primary w-50" @click="startCam">start</button>
                <button class="btn btn-primary w-50" @click="capture">capture</button>
                <button class="btn btn-primary w-50" @click="stopCam">stop</button>
            </div>
        </div>


    </div>
    <div class="bg-body-tertiary border rounded-3 overflow-auto  ">
        <template v-if="items.length">
            <ul class="list-group" name="todolist" tag="ul">
                <li v-for="item in items" v-bind:key="item.product_id" class="list-group-item">
                    <span class="label w-50 ">{{item.tagID}} - {{item.name}} - {{item.size}} - {{item.colour}} - {{
                        item.price }}</span>
                    <button class="btn btn-danger ms-3" @click="deleteItemFromList(item)">
                        delete
                    </button>
                </li>
            </ul>
        </template>
        <p v-else class="emptylist">empty.</p>
    </div>
</div>

<script>
    const { createApp, reactive, ref, computed } = Vue
    const items = reactive([])
    const totalPrice = computed(() => {
        return items.reduce((sum, item) => sum + parseFloat(item.price), 0).toFixed(2);
    });
    const productTitle = ref('')
    const size = ref('')
    const colour = ref('')
    const price = ref('')
    const productId = ref('')
    const paragraphs = reactive([])
    const base_url = 'http://localhost:5000/'

    const app = createApp({
        data() {
            return {
                items,
                totalPrice,
                productId,
                size,
                productTitle,
                price,
                colour,
            }
        },
        methods: {
            add(event) {
                const item = {
                    "id": this.productId,
                    "tagID": this.productId,
                    "name": this.productTitle,
                    "size": this.size,
                    "colour": this.colour,
                    "price": this.price,
                    // "timeSold": new Date().toISOString()
                }
                this.items.push(item)
            },
            clear(e) {
                this.items.length = 0
            },
            deleteItemFromList(item) {
                let index = this.items.indexOf(item)
                this.items.splice(index, 1);
            },
            async startCam(e) {
                try {
                    const response = await fetch(base_url + 'start-camera', {
                        method: 'GET',
                    });
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    console.log(data);
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
            },
            async capture(e) {
                try {
                    const response = await fetch(base_url + 'capture', {
                        method: 'GET',
                    });
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    console.log(data);
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
            },
            async stopCam(e) {
                try {
                    const response = await fetch(base_url + 'stop-camera', {
                        method: 'GET',
                    });
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    console.log(data);
                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);
                }

            },
            async submitItems(e) {
                try {
                    // Insert data into PocketBase
                    for (let i = 0; i < this.items.length; i++) {
                        let record = await pb.collection('items').create(this.items[i]);
                    }
                    this.items.length = 0
                    // alert('Data inserted successfully!');
                } catch (error) {
                    console.error('Error inserting data:', error);
                    alert('Failed to insert data.');
                }
            }

        }
    });
    app.mount('#app')


    socket.on('connect', function () {
        console.log('Connected');
    });



    socket.on('scan', function (data) {
        console.log(data);
        productId.value = data
    });

    socket.on("ocr", function (ocr_data) {
        
        console.log("OCR", ocr_data);
        price.value = ''
        colour.value = ''
        size.value = '';
        const splitData = ocr_data.split('\n').map(item => item.trim());
        paragraphs.push(...splitData);
        paragraphs.forEach(paragraph => {
        paragraph = paragraph.toLowerCase();
        console.log("data", paragraph)
            const [key, value] = paragraph.split(':').map(item => item.trim());
            console.log("key value", key, value)
            
            if (key === 'title' || key === 'name') {
                productTitle.value = value;
            } else if (key === 'price' || key === 'PRICE') {
                price.value = value;
            } else if (key === 'colour' || key === 'color' || key === 'COLOUR'|| key === 'COLOR') {
                colour.value = value;
            } else if (key === 'size'||key === 'SIZE') {
                size.value = value;
            }
        });
    })
</script>
{% endraw %}
{% endblock %}