{% extends "base.html" %}
{% block content %}
{% raw %}

<h1>
    Cart
    <span>( {{items.length}} )</span>
</h1>

<div class="btn-group">
    <button class="btn btn-primary" @click="greet">add</button>
    <button class="btn btn-primary" @click="clear">Clear</button>
</div>

<div class="fs-4">
    {{totalPrice}}
</div>

<template v-if="items.length">
    <ul class="list-group" name="todolist" tag="ul">
        <li v-for="item in items" v-bind:key="item.product_id" class="list-group-item">
            <span class="label">{{item.title}}-{{item.product_id}} - {{ item.price }}</span>
            <button class="btn btn-danger ms-4" @click="deleteItemFromList(item)">
                delete
            </button>

        </li>
    </ul>
</template>
<p v-else class="emptylist">Your todo list is empty.</p>


<input type="text" v-model="message">
<input type="checkbox" id="checkbox" checked />
<script>
import { onMounted, onBeforeUnmount } from 'vue';
export default{
    
    function adddata(){
        console.log(data);
        items.push(JSON.parse(data));
    }   

    function updatesellstate(){
        try {
        //check records that includes tagid we want to get 
        const records = await pb.collection('items').getList(1,2,{
            filter: `tagID = "${data.tagID}"`
        });

        // Check if record is found
        if (records.items.length > 0) {
            for (const record of records.items) {
                // update record 
                const updatedRecord = await pb.collection("items").update(record.id, {
                    timeSold: new Date().toISOString()
                });
                console.log('Updated Record:', updatedRecord);
            }
        } else {
            console.log('No records found with the specified tagid.');
        }
    } catch (error) {
        console.error('Error updating timesold:', error);
    }
}
/*set socket off when page has not been loaded in case influence on this part when we scan card on other page*/
    const registerSocketEvents = () => {
    socket.on('connect', function () {
        console.log('Connected');
    });
    socket.on('scan', function (data) {
             adddata();
             updatesellstate();
    });
    };

    const unregisterSocketEvents = () => {
    socket.off('connect', function () {
        console.log('Connected');
    });
    socket.off('scan', function (data) {
        console.log(data);
        items.push(JSON.parse(data)) 
    });
    };
    onMounted(() => {
      registerSocketEvents(); // register socketevents when page is on mounted
    });

    onBeforeUnmount(() => {
      unregisterSocketEvents(); // unregister socketevents when page is close
    });

}
    const oneProduct = '{"message": "Hello, World!", "product_id": "471823", "colour": "blue", "price": "267.9", "size": "XS", "category": "T-shirts", "brand": "Uniqlo", "title": "Uniqlo U AIRism Cotton Oversized Crew Neck Half Sleeve T-Shirt"}';
    const { createApp, reactive, ref, computed } = Vue
    const items = reactive([])
    const totalPrice = computed(() => {
        return items.reduce((sum, item) => sum + parseFloat(item.price), 0).toFixed(2);
    });
    const app = createApp({
        data() {
            return {
                message: 'Hello asdfsadVue!',
                items,
                totalPrice
            }
        },
        methods: {
            greet(event) {
                const item = JSON.parse(oneProduct)
                item.product_id = Math.random().toString(10) +1;
                this.items.push(item)
            },
            clear(e) {
                this.items.length = 0
            },
            deleteItemFromList(item) {
                let index = this.items.indexOf(item)
                this.items.splice(index, 1);
            },

        }
    });
    app.mount('#app')

</script>
{% endraw %}
{% endblock %}