{% extends "base.html" %}
{% block content %}
{% raw %}

<h1>
    Cart
    <span>( {{items.length}} )</span>
</h1>

<div class="btn-group">
    <button class="btn btn-primary" @click="checkout">Checkout</button>
    <button class="btn btn-primary" @click="clear">Clear</button>
</div>

<div class="fs-4">
    {{totalPrice}}
</div>

<template v-if="items.length">
    <ul class="list-group" name="todolist" tag="ul">
        <li v-for="item in items" v-bind:key="item.product_id" class="list-group-item">
            <span class="label">{{item.tagID}} - {{item.name}} - {{item.size}} - {{item.colour}} - {{
                item.price }}</span>
            <button class="btn btn-danger ms-4" @click="deleteItemFromList(item)">
                delete
            </button>

        </li>
    </ul>
</template>
<p v-else class="emptylist">empty.</p>

<script>

    const { createApp, reactive, ref, computed } = Vue
    const items = reactive([])

    const totalPrice = computed(() => {
        return items.reduce((sum, item) => sum + parseFloat(item.price), 0).toFixed(2);
    });

    const app = createApp({
        data() {
            return {
                message: 'Hello asdfsadVue!',
                items,
                totalPrice
            }
        },
        methods: {
            async checkout(event) {
                let records = pb.collection
                try {
                    for (let item of this.items) {
                        item.timeSold = new Date().toISOString()
                        let record = await pb.collection('items').update(item.id, item)
                    }
                    this.items.length = 0
                } catch (error) {
                    alert('Error')
                    console.error(error);
                }


            },
            clear(e) {
                this.items.length = 0
            },
            deleteItemFromList(item) {
                let index = this.items.indexOf(item)
                this.items.splice(index, 1);
            },

        }
    });
    app.mount('#app')


    socket.on('connect', function () {
        console.log('Connected');
    });
    socket.on('scan', function (data) {
        console.log(data);
        items.push(JSON.parse(data))
    });
</script>
{% endraw %}
{% endblock %}