{% extends "base.html" %}


{% block content %}


{% raw %}

<h1>
    Query
    <span></span>
</h1>

<h2>
    Stock Number:
</h2>
<p>
    {{items.length}}
</p>
<template v-if="items.length">
    <ul class="list-group" name="todolist" tag="ul">
        <li v-for="item in items" v-bind:key="item.product_id" class="list-group-item">
            <span class="label">{{item.tagID}} - {{item.name}} - {{item.size}} - {{item.colour}} - {{
                item.price }}</span>
            <button class="btn btn-danger ms-4" @click="deleteItemFromList(item)">
                delete
            </button>
        </li>
    </ul>
</template>
<script>
    const { createApp, reactive, ref, computed } = Vue
    const items = reactive([])




    const app = createApp({
        data() {
            return {
                items,
            }
        },
        methods: {

        },

    });
    app.mount('#app')


    socket.on('scan_q', function (data) {
        items.length = 0;
        const infos = JSON.parse(data);
        console.log(infos)
        for (let i = 0; i < infos.length; i++) {
            if(!infos[i].timeSold){
            items.push(infos[i])
            }
            
        }
    });
</script>
{% endraw %}

{% endblock %}