{% extends "base.html" %}


{% block content %}


{% raw %}

<h1>
    Query
    <span></span>
</h1>

<script>
    const oneProduct = '{"message": "Hello, World!", "product_id": "471823", "colour": "blue", "price": "267.9", "size": "XS", "category": "T-shirts", "brand": "Uniqlo", "title": "Uniqlo U AIRism Cotton Oversized Crew Neck Half Sleeve T-Shirt"}';
    const { createApp, reactive, ref, computed } = Vue
    const items = reactive([])
    const totalPrice = computed(() => {
        return items.reduce((sum, item) => sum + parseFloat(item.price), 0).toFixed(2);
    });
    const app = createApp({
        data() {
            return {
                message: 'Hello asdfsadVue!',
                items,
                totalPrice
            }
        },
        methods: {
            greet(event) {
                const item = JSON.parse(oneProduct)
                item.product_id = Math.random().toString(10) +1;
                this.items.push(item)
            },
            clear(e) {
                this.items.length = 0
            },
            deleteItemFromList(item) {
                let index = this.items.indexOf(item)
                this.items.splice(index, 1);
            },

        }
    });
    app.mount('#app')


    socket.on('scan', function (data) {
        console.log(data);
        items.push(JSON.parse(data))
    });
</script>
{% endraw %}

{% endblock %}




